.contact-node {
    background-color: #dfdfdf;
    border-radius: 3px;
    width: 175px;
    height: 175px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    transition: all .2s ease-out;
    color: black
}

.contact-node a {
    color: black;
}
.contact-node a:hover {
    color: black;
}

.contact-node:hover {
    cursor: pointer;
    transform: translate(0, -5px);
    color: black;
}

.contact-logo {
    width: 110px;
    margin-left: 32px;
    margin-top: 20px;
}

.contact-node p {
    text-align: center;
    font-size: 25px;
    margin-top: 3px;
}