.experience-container {
    background-color: #DFDFDF;
    padding-bottom: 50px;
    width: 70rem;
    max-width: 95%;
    margin-left:auto;
    margin-right: auto;
}

.experience-container h1 {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 15px;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 50rem;
    max-width: 95%;
    border-bottom: 1px solid black;
}