.info-card {
    border-radius: 8px;
    max-width: 95%;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.25);
    background: #5F5980;
    width: 55rem;
    max-width: 85%;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 25px;
    margin-bottom: 25px; */
}
